{{#partial "styles"}}
    <link rel='stylesheet' href='/css/app.css'>
{{/partial}}

{{#partial "content"}}

    <div class="page-header">

        <h1>News<br> <small><h2>To add a department click <a href="/departments/new">here</a></h2></small></h1>
    </div>

<!--    <div class="button-all">-->
<!--        <a href="/form" class="btn btn-half">Add Animal</a>-->
<!--        <a href="/sightings" class="btn btn-half">Record Sighting</a>-->

<!--    </div>-->

{{/partial}}
{{>layout.hbs}}